* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-logo {
    color: white;
    padding-top: auto;
    font-size: 24px;
    color: #f9faf8;
    
}

.hero {
    height: 400px;
    background-color: #1F2937;

}

header {
    display: flex;
    justify-content: space-around; /* Располагает элементы в начале и в конце контейнера с промежутком между ними */
    align-items: center; /* Выравнивает элементы по вертикали по центру */
    padding-top: 10px;
}


nav a {
    margin-left: 10px;
    padding-top: 20px;
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}