@import url(reset.css);
body {
	box-sizing: border-box;
}

.hero {
	min-height: 60vh;
	background-color: #1f2937;

}

header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	
}
header h1 {
	font-size: 24px;
	color: #f9faf8;
	margin-top: 8px;
}

.links {
	margin-top: 10px;
	display: flex;
	gap: 20px;
}

.links a {
	text-decoration: none;
	font-size: 18px;
	color: #e5e7eb;
}

.main {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 80%;
	}

.main h1 {
	font-size: 48px;
	font-weight: 900;
	color: #f9faf8
}

.main_left p {
	font-size: 18px;
	color: #e5e7eb;

}
.main_right {
	flex: 1;
	max-width: 100%;
	height: auto;
}