@import url(reset.css);

* {
	font-family: Georgia, 'Times New Roman', Times, serif;
}


.hero {
	background-color: #1f2937;
	height: 50vh;
}

.second_part {
	background-color: white;
	height: 50vh;
}

.third_part {
	background-color: #e5e7eb;
	height: 50vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.fourth-part {
	height: 40vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

footer {
	display: flex;
	height: 15vh;
	justify-content: center;
	align-items: center;
	background-color: #1f2937;
}

.hero>* {

	margin-left: 25vh;
	margin-right: 25vh;


}

.second_part > * {
	margin-left: 25vh;
	margin-right: 25vh;
}



nav {
	display: flex;
	justify-content: space-between;


}

.logo {
	font-weight: 800;
	font-size: 24px;
	color: #f9faf8;
	margin-top: 16px;
}

.links {
	display: flex;
	gap: 10px;
	margin-top: 21px;
}

a {
	text-decoration: none;
	color: #e5e7eb;
	font-size: 18px;
}

.main_hero {
	margin-top: 10vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}


.left_side > h1 {
	font-size: 48px;
	font-weight: 900;
	color: #f9faf8;
}

.left_side > p {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 18px;
	color: #ebe7eb;
}

.styledbutton {
	padding: 8px 25px;
	font-size: 16px;
	color: white;
	background-color: #3882f6;
	border: none;
	border-radius: 8px;
	cursor: pointer;
}

.styledbutton:hover {
	background-color: #69a1f8;
}


.right_side {
	display: flex;
	justify-content: end;
	flex: 1;
}
.right_side img {
	
	max-width: 60%;
	height: auto;
	
}

.placeholders {
	display: flex;
	justify-content: space-around;
	flex: 1;
}

.image-placeholder {
    width: 120px;
    height: 120px;
	border: 3px solid #3882f6;
    background-color: white;
	border-radius: 8px;
    border-radius: 20px;
	
    margin-bottom: 10px; /* Отступ снизу для описания */
}

.image-container > p {
	max-width: 100px;
	
}

.second_part > h1 {
	font-size: 36px;
	font-weight: 900;
	color: #1f2937;
	text-align: center;
	margin-bottom: 40px;
	margin-top: 20px;
}

.quote {
	font-style: italic;
	font-weight: 400;
	color: #1f2937;
	font-size: 36px;
	margin-left: 35vh;
	margin-right: 35vh;
}

.quote-author {
	font-weight: 900;
	font-size: 24px;
	text-align: right;
	margin-right: 45vh;
	margin-top: 14px;
}

.fpcontainer {
	width: 70%;
	height: 50%;
	background-color: #3882f6;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-radius: 8px;
}

.fpcontainer > button {
	padding: 8px 25px;
	font-size: 16px;
	color: white;
	background-color: #3882f6;
	border: 2px solid white;
	border-radius: 8px;
	cursor: pointer;
}

.fpcontainer > button:hover {
	background-color: #69a1f8;
}

.callto > h1 {
	color: white;
	font-weight: 900;
	font-size: 24px;

}

.callto > p {
	color: #e5e7eb;
	
	font-weight: 400;
	font-size: 18px;
}

footer > p {
	font-size: 18px;
	color: #e5e7eb;
}